body[data-action="Index"][data-controller-name="Ideas"]
  header.main
    height: auto
    background-color: rgba(0, 0, 0, .05)
    padding-bottom: 40px

  #introduction
    margin: 0
    padding: 10px 0
    height: 300px
    overflow: hidden
    clear: both
    position: relative
    background: rgba(white, .8)
    +border-radius(4px)
    border: 3px solid #c8c8c8

    .button.start
      float: left
      position: absolute
      left: 185px
      padding: 15px 25px
      bottom: 17px
      font-size: 1.4em
    section.text_intro,
    section.video_intro
      +grid(6)

      .video
        +box-shadow(0 0 0 3px #3a599a)
        float: right
        padding: 2px

    section.text_intro
      color: #064B2E
      position: absolute
      font-family: 'Lobster Two', cursive
      width: 36%
      left: 25px
      top: 48px
      font:
        size: 3.4em
        weight: 700
        style: italic
      line-height: 1.2em
      text-shadow: 2px -2px 0 white

      b
        color: #333

    section.video_intro
      float: right
      iframe
        margin-bottom: -2px
      .border
        float: right
        border: 3px solid #FFF
        +box-shadow(0 1px 2px #aaa)

  .newsboard
    +clearfix
    background: #eee
    border: 2px solid #999
    padding: 10px 10px 20px 10px
    margin: 10px 10px 20px 10px
    +border-radius(3px)
    color: #333
    text-shadow: 1px 1px 0 white
    img
      float: left
      margin: 35px 10px 0 0
    p
      margin-bottom: 10px
      font-size: 1.3em
    span
      background:
        image: url(asset_path("arrows.png", "image"))
        repeat: no-repeat
        position: 0 -262px
      padding-left: 18px
    a.click_here
      background: #999
      color: white !important
      text-shadow: none

      &:hover
        background: #777
